@import '~antd/dist/antd.css';

.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    flex:1;
    height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}





.App-title {
  font-size: 1.5em;
    text-align: left;
}

.App-intro {
  font-size: large;
    flex:0.9;
  padding-top: 2rem;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.color-white{
  color: white;
}
a{
  text-decoration: none;
}


select{
  height: 40px;
  border:1px solid blueviolet;
  border-radius: 10px;
  outline: 0;
}
