@import url('custom_grid.css');
@import url('./fonts/opensans_regular_macroman/stylesheet.css');
@import url('./fonts/opensans_light_macroman/stylesheet.css');
@import url('./fonts/opensans_bold_macroman/stylesheet.css');
@import url('./fonts/opensans_extrabold_macroman/stylesheet.css');


*:before,*:after,*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'open_sansregular',sans-serif;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}